<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../../assets/css/pearone.css">
    <style>
        body{
            background-color:lightgray;
        }
    </style>
</head>
<body>

<div class="layui-card">
    <div class="layui-card-body">

        <form class="layui-form layui-form-pane" action="#" >
            <div class="layui-card">
                <div class="layui-card-body layui-row layui-col-space20">
                    <div class="layui-col-md6">
                        <input type="text" name="patientName" placeholder="姓名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-col-md6">
                        <input type="text" name="mobile" placeholder="mobile" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-col-md6">
                        <input type="text" name="area" placeholder="区域" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-col-md6">

                    </div>

                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-fluid">保存</button>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>
<script src="../../../lib/layui/layui.js"></script>
<script src="../../../modules/lay-config.js"></script>
<script>
    layui.use(['table','layer','jquery','form','pearone'], function(){
        var layer = layui.layer //弹层
            ,$ = layui.jquery
            ,form = layui.form
            ,pearone = layui.pearone;




    });
</script>
</body>
