<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidian.registration.dao.TConfigUserCommissionDao">
    <resultMap id="BaseResultMap" type="com.yidian.registration.entity.TConfigUserCommission">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="belong_id" jdbcType="BIGINT" property="belongId"/>
        <result column="hospital_id" jdbcType="BIGINT" property="hospitalId"/>
        <result column="item_id" jdbcType="BIGINT" property="itemId"/>
        <result column="commission" jdbcType="DECIMAL" property="commission"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <insert id="insert" parameterType="com.yidian.registration.entity.TConfigUserCommission">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_config_user_commission (belong_id, hospital_id, item_id,
        commission, `status`, create_time, update_time)
        values (#{belongId,jdbcType=BIGINT}, #{hospitalId,jdbcType=BIGINT},
        #{itemId,jdbcType=BIGINT}, #{commission,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT},
        now(), now())
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, belong_id, hospital_id, item_id, commission, create_time, update_time
        from t_config_user_commission
    </select>

    <select id="selectConfigListTotal" resultType="int">
        select count(1)
        from t_config_user_commission
        where `status` = 1
        <if test="belongId != null and belongId > 0">
            and belong_id = #{belongId}
        </if>
    </select>

    <select id="selectConfigList" resultMap="BaseResultMap">
        select *
        from t_config_user_commission
        where `status` = 1
        <if test="belongId != null and belongId > 0">
            and belong_id = #{belongId}
        </if>
        order by update_time desc
        limit #{index}, #{pageSize}
    </select>

    <update id="updateConfig" parameterType="com.yidian.registration.entity.TConfigUserCommission">
        update t_config_user_commission
        <set>
            <if test="belongId != null and belongId > 0">
                belong_id = #{belongId},
            </if>
            <if test="hospitalId != null">
                hospital_id = #{hospitalId},
            </if>
            <if test="itemId != null">
                item_id = #{itemId},
            </if>
            <if test="commission != null">
                commission = #{commission},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            update_time = now()
        </set>
        where id = #{id}
    </update>

    <select id="selectInfoById" resultMap="BaseResultMap">
        select *
        from t_config_user_commission
        where id = #{id}
    </select>

    <select id="selectConfigListByIid" resultMap="BaseResultMap">
        select *
        from t_config_user_commission
        where `status` = 1
        <if test="itemId != null and itemId > 0">
            and item_id = #{itemId}
        </if>
    </select>

    <select id="selectUserCommissionConfigList" resultMap="BaseResultMap">
        select *
        from t_config_user_commission
        where `status` = 1
        <if test="belongId != null and belongId > 0">
            and belong_id = #{belongId}
        </if>
    </select>

    <select id="selectCommissionConfigList" resultMap="BaseResultMap">
        select *
        from t_config_user_commission
        where `status` = 1
            and belong_id = #{belongId}
            and hospital_id = #{hospitalId}
            and item_id = #{itemId}
    </select>
</mapper>